# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/.name
/codeStyles/codeStyleConfig.xml
/modules.xml
/to my love.iml
/vcs.xml
/watcherTasks.xml
/webResources.xml
/.idea/.name
/.idea/codeStyles/codeStyleConfig.xml
/.idea/modules.xml
/.idea/to my love.iml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.idea/webResources.xml
/.idea/workspace.xml
/.idea/discord.xml
# Css map files
*.css.map