
@envelope-height: 45dvh;

* {
  max-width: 100%;
}

body {
  margin: 0;
}

#randomEnvelope-envelope {
  &:extend(.fixed-parent);
  height: @envelope-height;

  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  animation-duration: .5s;
  animation-fill-mode: forwards;
  transition: all ease-in-out .2s;
}
#randomEnvelope-envelope * {
  &:extend(.fixed-child);
  height: @envelope-height;
}
#randomEnvelope-envelope:has(*:hover) {
  scale: 1.01 1.01;
}
#randomEnvelope-envelope:has(*:active) {
  scale: 0.99 0.99;
}

#randomEnvelope-inside, #randomEnvelope-front {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}

.fixed-parent {
  position: fixed;
}

.fixed-child {
  position: absolute;
}
